@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    ::-webkit-scrollbar{
        height: 7px;
    }
    ::-webkit-scrollbar-track{
        background: transparent;
    }
    ::-webkit-scrollbar-thumb{
        background: transparent;
    }

    body{
        -webkit-tap-highlight-color: transparent;
      }

}
